@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

@layer base {
  :root {
    --background: 184 83% 93%;
    --foreground: 187 80% 10%;
    --card: 184 83% 93%;
    --card-foreground: 187 80% 10%;
    --popover: 184 83% 93%;
    --popover-foreground: 187 80% 10%;
    --primary: 189 82% 28%;
    --primary-foreground: 184 83% 93%;
    --secondary: 223 81% 69%;
    --secondary-foreground: 187 80% 10%;
    --muted: 184 82% 20%;
    --muted-foreground: 187 80% 70%;
    --accent: 235 82% 44%;
    --accent-foreground: 184 83% 93%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 187 80% 10%;
    --border: 184 82% 20%;
    --input: 184 82% 20%;
    --ring: 235 82% 40%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 184 83% 7%;
    --foreground: 187 80% 90%;
    --card: 184 83% 7%;
    --card-foreground: 187 80% 90%;
    --popover: 184 83% 7%;
    --popover-foreground: 187 80% 90%;
    --primary: 189 82% 72%;
    --primary-foreground: 184 83% 7%;
    --secondary: 223 81% 31%;
    --secondary-foreground: 187 80% 90%;
    --muted: 184 82% 80%;
    --muted-foreground: 187 80% 90%;
    --accent: 235 82% 56%;
    --accent-foreground: 187 80% 90%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 187 80% 10%;
    --border: 184 83% 60%;
    --input: 184 82% 80%;
    --ring: 235 82% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
