@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

@layer base {
  :root {
    --background: 189 23% 94%;
    --foreground: 180 4% 9%;
    --card: 189 23% 94%;
    --card-foreground: 180 4% 9%;
    --popover: 189 23% 94%;
    --popover-foreground: 180 4% 9%;
    --primary: 188 42% 25%;
    --primary-foreground: 189 23% 94%;
    --secondary: 186 59% 70%;
    --secondary-foreground: 180 4% 9%;
    --muted: 190 24% 20%;
    --muted-foreground: 180 5% 70%;
    --accent: 186 79% 48%;
    --accent-foreground: 180 4% 9%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 180 4% 9%;
    --border: 190 24% 20%;
    --input: 190 24% 20%;
    --ring: 186 79% 40%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 189 23% 6%;
    --foreground: 180 4% 91%;
    --card: 189 23% 6%;
    --card-foreground: 180 4% 91%;
    --popover: 189 23% 6%;
    --popover-foreground: 180 4% 91%;
    --primary: 188 42% 75%;
    --primary-foreground: 189 23% 6%;
    --secondary: 186 59% 30%;
    --secondary-foreground: 180 4% 91%;
    --muted: 190 24% 80%;
    --muted-foreground: 180 4% 91%;
    --accent: 186 79% 52%;
    --accent-foreground: 189 23% 6%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 180 6% 10%;
    --border: 189 23% 60%;
    --input: 190 24% 80%;
    --ring: 186 79% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
